// lưu khối code style chung để sử dụng lại
@mixin radius_common($radius: 10px) {
  border-radius: $radius;
}

@mixin btn($w, $h, $radius: 10px, $color) {
  width: $w;
  height: $h;
  background-color: $color;
  border: 1px solid #e1e1e1;
  @include radius_common($radius);
}

@mixin flex_box_custom($x, $y, $gap: 10px) {
  display: flex;
  justify-content: $x;
  align-items: $y;
  gap: $gap;
}
